In [1]:
import os
from pathlib import Path

import matplotlib.pyplot as plt
import pandas as pd

In [2]:
bundle_root = Path(os.environ['LABS_BUNDLE_ROOT'])
data_processed = bundle_root / 'data' / 'processed'

In [3]:
dat = pd.read_parquet(data_processed / 'clean.parquet')

In [7]:
'Number of rows: {:,}'.format(len(dat))

'Number of rows: 16,647,016'

In [8]:
dat.head()

                       prev               curr    n
1                      TACV  TACV_destinations  501
2  Femme_Fatales_(magazine)     Brinke_Stevens   18
4            Linnea_Quigley     Brinke_Stevens   46
6        List_of_cosplayers     Brinke_Stevens   10
8              Emmanuelle_4     Brinke_Stevens   27

In [6]:
dat.groupby('prev').sum().sort_values('n').tail()

                                     n
prev
2018_in_film                   1191093
List_of_Black_Mirror_episodes  1324798
Elizabeth_II                   1353902
Main_Page                      1367868
Deaths_in_2018                 1656449

In [11]:
dat.groupby('prev')['curr'].count().sort_values().tail()

prev
Europe           1975
England          2012
London           2077
California       2143
New_York_City    2282
Name: curr, dtype: int64

In [12]:
prev = 'TACV'
dat.loc[dat['prev'] == 'TACV'].sort_values('n').tail()

          prev                                  curr    n
20615735  TACV                             Binter_CV   87
13793637  TACV                    Cabo_Verde_Express  109
3055748   TACV  Nelson_Mandela_International_Airport  148
12554560  TACV  Amílcar_Cabral_International_Airport  154
1         TACV                     TACV_destinations  501

In [13]:
df = dat.sort_values('n')

In [15]:
df.loc[df['prev'] == prev].tail(1)

   prev               curr    n
1  TACV  TACV_destinations  501