In [1]:
import pandas as pd

In [2]:
dat = pd.read_parquet('/labs/data/processed/clean_data.parq')

In [3]:
dat.head()

                       prev               curr    n
1                      TACV  TACV_destinations  501
2  Femme_Fatales_(magazine)     Brinke_Stevens   18
4            Linnea_Quigley     Brinke_Stevens   46
6        List_of_cosplayers     Brinke_Stevens   10
8              Emmanuelle_4     Brinke_Stevens   27